html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: "Kodchasan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea,
.p-component,
.ant-app,
.ant-btn,
.ant-input,
.ant-select,
.ant-modal,
.ant-table {
  font-family: "Kodchasan", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
